<div class="section-1" id="chi-sono">
  <div class="container center">

    <div class="title-container">
      <h1>Chi sono</h1>
      <div class="underline center"></div>
    </div>

    <div class="story-container">

      <div class="story">
        <h3>La mia storia</h3>
        <div class="underline"></div>
        <p>Benvenuti, mi chiamo Rosemary e con l’apertura del centro estetico <a href="http://www.cedrogropello.it/">Il Cedro</a> ho realizzato il mio sogno.<br>Ho praticato la mia formazione presso la scuola BCM di Milano, completandone il corso triennale. Uso preferibilmente prodotti di origine naturale come la <a class="link-id" href="#special">pasta di zucchero Pandhy's</a> per la depilazione e i prodotti della linea <a class="link-id" href="#special">PNEI</a> per la cura e la bellezza. Per i trattamenti unghie (gel e ricostruzione) mi affido ai prodotti della linea <a class="link-id" href="#special">Crystal Nails</a>... e poi manicure, pedicure, cera a strisce e molto altro...<br><br>Amo il mio lavoro e da Il Cedro uscirete entusiasti.<br>Bellezza, benessere e relax per tutti... da Rosemary.</p>
      </div>

      <div class="headshot"></div>

    </div>

    <div class="skill-container">

      <div class="certification">
        {% for certification in site.data.settings.certifications %}
          <a href="{{ certification.image }}" data-lightbox="certifications">
            <div class="certification-circle" style="background-image: url({{ certification.icon }})" title="{{ certification.name }}"></div>
          </a>
        {% endfor %}
      </div>

    </div>

  </div>
</div>
