<div class="section-6" id="contatti">
  <div class="container center">

    <div class="title-container">
      <h1>Contatti</h1>
      <div class="underline center"></div>
    </div>

    <div class="info-container">

      <div class="info">
        <h3>Informazioni</h3>
        <div class="underline"></div>
        <p>Arrivando da Pavia o dall'autostrada MI-GE il centro si trova entrando in via Spinelli, laterale sinistra di via della Libertà (arrivando da Vigevano sulla destra). <br><br>Per prenotare un appuntamento contattateci telefonicamente.</p>

        <div class="info-specific">
          <a href="tel:+393427341131">
            <i class="material-icons">phone</i>
            <p class="info-text">+39 342 734 1131</p>
          </a>
        </div>

        <div class="info-specific">
          <a href="https://www.google.com/maps/place/Il+Cedro+estetica+bellezza+-+Gropello+Cairoli/@45.17559,8.99466,17z/data=!4m5!3m4!1s0x0:0x874d7ce6255fe7d1!8m2!3d45.17559!4d8.99466?hl=it-IT" target="_blank">
            <i class="material-icons">place</i>
            <p class="info-text">Via A. Spinelli, 2/C - Gropello Cairoli</p>
          </a>
        </div>

        <div class="info-specific" id="social-icons">
          <a href="https://www.facebook.com/IL-CEDRO-estetica-bellezza-1589708534692474/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="https://plus.google.com/117599622775913097796" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="opening-time">
        <h3>Orari di apertura</h3>
        <div class="underline"></div>

        <div id="times-table">
          <div class="table-head">
            <p>Giorno</p><p>Mattino</p><p>Pomeriggio</p>
          </div>
          {% for time in site.data.settings.times %}
          <div class="table-content">
            <p>{{ time.name }}</p><p>{{ time.morning }}</p><p>{{ time.afternoon }}</p>
          </div>
          {% endfor %}
        </div>

      </div>

      <div class="maps">
        <h3>Dove trovarci</h3>
        <div class="underline"></div>

        <div class="maps-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.56835547623!2d8.992471315857333!3d45.17558997909856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47871f569e5d1e89%3A0x874d7ce6255fe7d1!2sIl+Cedro+estetica+bellezza!5e0!3m2!1sit!2sit!4v1486220498088" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="place-photo"></div>

      </div>
    </div>

  </div>
</div>
