<div class="section-2" id="il-centro">
  <div class="container center">

    <div class="title-container">
      <h1>Il centro</h1>
      <div class="underline center"></div>
    </div>

    <div class="gallery-container">
      {% for gallery-image in site.data.gallery.gallery-images reversed limit: 8 %}
      <div class="card">
        <div class="img-card grow" style="background-image: url({{ gallery-image.photo }})">
          <a href="{{ gallery-image.photo }}" data-lightbox="il-centro"></a>
        </div>
      </div>
      {% endfor %}

    </div>

    <div class="gallery-more hidden">
      <a href="#">
        <i class="material-icons" title="Galleria completa">control_point</i>
      </a>
    </div>

  </div>
</div>
