<div class="section-5" id="servizi">
  <div class="container center">

    <div class="title-container">
      <h1>Servizi</h1>
      <div class="underline center"></div>
    </div>

    <div class="story-container">

      <div class="story">
        <h3>I nostri servizi</h3>
        <div class="underline"></div>
        <p>A lato trovate l'elenco dei nostri servizi che vi verranno offerti con professionalità in un ambiente moderno e confortevole. Sarò molto lieta di avervi ospiti nel mio centro, e per ogni richiesta o chiarimenti non esitate a contattarmi.<br><br>Grazie e a presto.</p>
      </div>

      <div class="accordion-container">

        <div class="accordion">

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-1">Trattamenti viso
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-1" class="accordion-section-content">
              <ul>
                <li>Equilibrio viso</li>
                <li>Depurazione viso</li>
                <li>Ristrutturazione viso</li>
                <li>Viso personalizzato</li>
              </ul>
            </div>
          </div>

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-2">Corpo
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-2" class="accordion-section-content">
              <ul>
                <li>Pulizia corpo con olio detergente</li>
                <li>Ristrutturazione</li>
                <li>Ristrutturazione PNEI</li>
                <li>Depurazione con fango depurante</li>
                <li>Massaggio rivitalizzante</li>
                <li>Depurazione con fango rivitalizzante</li>
                <li>Rivitalizzazione</li>
                <li>Equilibrio, rimodellamento e detossinazione</li>
              </ul>
            </div>
          </div>

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-3">Epilazione con pasta di zucchero o a freddo
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-3" class="accordion-section-content">
              <ul>
                <li class="sub-section-title"><h3>Lei</h3></li>
                <li>Gambe intere + bikini</li>
                <li>Gambe intere + totale</li>
                <li>Mezze gambe + bikini</li>
                <li>Mezze gambe + totale</li>
                <li>Inguine bikini</li>
                <li>Inguine totale</li>
                <li>Mezza gambe</li>
                <li>Gambe intere</li>
                <li>Ascelle</li>
                <li>Braccia</li>
                <li>Labbro superiore</li>
                <li>Sopracciglia</li>
                <li>Viso totale</li>
                <li>Corpo totale</li>
              </ul>
              <ul>
                <li class="sub-section-title"><h3>Lui</h3></li>
                <li>Gambe intere</li>
                <li>Metà gambe</li>
                <li>Petto, addome e spalle</li>
                <li>Braccia</li>
                <li>Schiena</li>
                <li>Sopracciglia</li>
              </ul>
            </div>
          </div>

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-4">Bellezza mani e piedi
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-4" class="accordion-section-content">
              <ul>
                <li>Gel e ricostruzione unghie</li>
                <li>Manicure</li>
                <li>Manicure + semipermanente</li>
                <li>Pedicure estetico</li>
                <li>Pedicure SPA</li>
                <li>Smalto semipermanente piedi</li>
                <li>Smalto semipermanente 1 step</li>
              </ul>
            </div>
          </div>

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-5">Trattamenti SPA mani e piedi
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-5" class="accordion-section-content">
              <ul>
                <li>Mani SPA</li>
                <li>Piedi SPA</li>
              </ul>
            </div>
          </div>

          <div class="accordion-section">
            <a class="accordion-section-title" href="#accordion-6">Body and Soul
              <i class="material-icons expand-more">expand_more</i>
              <i class="material-icons expand-less">expand_less</i>
            </a>
            <div id="accordion-6" class="accordion-section-content">
              <ul>
                <li>Trattamenti corpo e spirito</li>
                <li>Massaggio relax</li>
                <li>Massaggio tonificante</li>
                <li>Massaggio drenante</li>
                <li>Massaggio decontratturante</li>
                <li>Massaggio estetico parziale</li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>
</div>
