<div class="section-3" id="special">
  <div class="container center">

    <div class="title-container">
      <h1>Cosa ci distingue</h1>
      <div class="underline center"></div>
    </div>

    <div class="partners-container">

      <div class="partners-1">
        <div class="partners-1-img shadow-select"></div>
      </div>

      <div class="partners-2">
        <div class="partners-2-img"></div>
      </div>

      <div class="partners-3">
        <div class="partners-3-img"></div>
      </div>

    </div>

    <div class="pandhy-s-container">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>Pasta di Zucchero Pandhy's</h3>
          <div class="underline"></div>
          <p>La pasta di zucchero ricreata dalle tradizioni millenarie secondo le esigenze dell’epoca moderna é il metodo di depilazione adeguata che offre una soluzione perfetta e duratura per tutti i tipi di pelle e per tutti i tipi di peli. Elimina anche i peli corti con efficienza e con delicatezza, ma anche i peli giá incarniti, facendo questo verso la direzione della loro crescita naturale. Diminuendo notevolmente cosí il dolore del trattamento, escludendo completamente lo spezzamento dei peli nel follicolo. <br><br>Questo materiale splendido e indiscutibilmente naturale, oltre la depilazione racchiude la possibilitá di una vasta gamma dei trattamenti estetici.</p>
        </div>

        <div class="special-logo"></div>

      </div>

      <div class="video-container">

        <div class="video-thumb" onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
          <i class="material-icons">play_circle_filled</i>
        </div>

        <div style="display:none">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/44oxbkVq_xI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen autoplay="true"></iframe>
        </div>

      </div>
    </div>

    <div class="pnei-container hidden">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>PNEI Cosmesi - Per trattamenti e rivendita</h3>
          <div class="underline"></div>
          <p>PNEI Cosmesi è la realizzazione di un approfondito progetto scientifico dedicato alla ricerca delle radici profonde del benessere personale, dell'ambiente che ci circonda e al rispetto di ogni forma vivente.</p>
        </div>

        <div class="special-logo" style="background-image: url(/assets/img/partners/PNEI_2.jpg)"></div>

      </div>

      {% include products.html %}

    </div>

    <div class="crystal-nails-container hidden">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>Crystal Nails</h3>
          <div class="underline"></div>
          <p>Crystal Nails non è solo un’azienda leader in Europa da oltre 10 anni nel settore del “nail fashion”: Crystal Nails è un vero e proprio universo dedicato alle unghie, il principale punto di riferimento per gli operatori del settore</p>
        </div>

        <div class="special-logo" style="background-image: url(/assets/img/partners/crystal.jpg)"></div>

      </div>

    </div>

  </div>
</div>
