<div class="section-3" id="special">
  <div class="container center">

    <div class="title-container">
      <h1>Cosa ci distingue</h1>
      <div class="underline center"></div>
    </div>

    <div class="partners-container">

      <div class="partners-1">
        <div class="partners-1-img shadow-select"></div>
      </div>

      <div class="partners-2">
        <div class="partners-2-img"></div>
      </div>

      <div class="partners-3">
        <div class="partners-3-img"></div>
      </div>

    </div>

    <div class="pandhy-s-container">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>Pasta di Zucchero Pandhy's</h3>
          <div class="underline"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem.</p>
        </div>

        <div class="special-logo"></div>

      </div>

      <div class="video-container">

        <div class="video-thumb" onclick="this.nextElementSibling.style.display='block'; this.style.display='none'">
          <i class="material-icons">play_circle_filled</i>
        </div>

        <div style="display:none">
          <iframe width="1280" height="720" src="https://www.youtube.com/embed/44oxbkVq_xI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen autoplay="true"></iframe>
        </div>

      </div>
    </div>

    <div class="pnei-container hidden">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>PNEI Cosmesi</h3>
          <div class="underline"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem.</p>
        </div>

        <div class="special-logo" style="background-image: url(/assets/img/partners/PNEI_2.jpg)"></div>

      </div>

    </div>

    <div class="crystal-nails-container hidden">
      <div class="special-intro-container">

        <div class="special-intro-text">
          <h3>Crystal Nails</h3>
          <div class="underline"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Donec elementum ligula eu sapien consequat eleifend. Donec nec dolor erat, condimentum sagittis sem.</p>
        </div>

        <div class="special-logo" style="background-image: url(/assets/img/partners/crystal.jpg)"></div>

      </div>

    </div>

  </div>
</div>
