<div class="section-4">
  <div class="container center">

    <div class="title-container">
      <h1>Clienti soddisfatti</h1>
      <div class="underline center"></div>
    </div>

    <div class="testimonials-slider">
      <ul>
        {% for testimonial in site.data.clients.testimonials limit: 5 %}
        <li>
          <div class="testimonials-container">

            <div class="client_profile_thumb" style="background-image: url( {{ testimonial.avatar }} )"></div>

            <div class="testimonials">
              <h3 class="client_profile_name">{{ testimonial.name }}</h3>
              <p class="client_profile_review">{{ testimonial.quote }}</p>
            </div>

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>
