/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.shadow-select {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; }

@-ms-viewport {
  width: device-width; }

@media (max-width: 640px) {
  .section-1, .section-2, .section-3, .section-4, .section-5, .section-6 {
    padding: 50px 15px !important; }
  .footer .footer-big {
    padding: 50px 15px !important; }
  .footer .footer-small {
    padding: 25px 15px !important; } }

* {
  z-index: 999; }

h1 {
  font-family: 'Montserrat', sans-serif, 700;
  font-size: 35px;
  margin: 0;
  margin-bottom: 10px;
  color: #1E2529;
  -webkit-font-smoothing: antialiased; }

h3 {
  font-family: 'Montserrat', sans-serif, 700;
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  color: #1E2529;
  -webkit-font-smoothing: antialiased; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #95989A;
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #65AAFE;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  text-decoration: none; }
  a:hover {
    color: #0E7AFE !important;
    cursor: pointer; }

.underline {
  width: 70px;
  height: 5px;
  background-color: #59FF43; }

.grow {
  transition: all .5s ease-in-out; }

.grow:hover {
  -webkit-transform: scale(1.12);
  -ms-transform: scale(1.12);
  transform: scale(1.12); }

.center {
  margin: 0 auto; }

.show-inline-block {
  display: inline-block !important; }

.show-block {
  display: block !important; }

.hidden {
  display: none !important; }

.unslider-nav ol li {
  width: 10px !important;
  height: 10px !important; }

@media (max-width: 1224px) {
  .grow {
    transition: none; }
  .grow:hover {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  h1 {
    margin-top: 55px; } }

.section-1 {
  position: relative;
  padding: 50px;
  background-color: white;
  z-index: 998; }
  .section-1 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-1 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-1 .container .story-container {
      position: relative;
      width: 100%;
      margin-bottom: 50px; }
      .section-1 .container .story-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-1 .container .story-container .story {
        position: relative;
        max-width: 47%;
        float: left; }
      .section-1 .container .story-container .headshot {
        position: absolute;
        width: 45%;
        height: 80%;
        right: 0;
        background-image: url(/assets/img/rosemary-imoesiri.jpg);
        background-size: cover;
        background-position: center center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .section-1 .container .skill-container {
      position: relative;
      width: 100%; }
      .section-1 .container .skill-container a {
        cursor: pointer; }
      .section-1 .container .skill-container .certification {
        position: relative;
        width: 75%;
        height: 100%;
        margin: 0 auto;
        padding-top: 30px;
        cursor: pointer !important; }
        .section-1 .container .skill-container .certification::after {
          clear: both;
          content: "";
          display: block; }
        .section-1 .container .skill-container .certification .certification-circle {
          display: inline-block;
          width: 100%;
          padding-bottom: calc(25% - 87.5px);
          border-radius: 50%;
          background-position: center center;
          background-size: cover;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          margin: 0 auto;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
          .section-1 .container .skill-container .certification .certification-circle:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

@media (min-width: 1224px) {
  .section-1 {
    box-shadow: 0 -100px 200px -20px rgba(0, 0, 0, 0.19); }
    .section-1 .container .skill-container .certification .certification-circle {
      width: calc(25% - 87.5px);
      float: left;
      margin-left: 70px; } }

@media (max-width: 1224px) {
  .section-1 .container .story-container .headshot {
    width: 50%; }
  .section-1 .container .skill-container .certification .certification-circle {
    padding-bottom: calc(25% - 62.5px);
    width: calc(25% - 62.5px);
    float: left;
    margin-left: 50px; } }

@media (max-width: 1024px) {
  .section-1 .container .story-container .story {
    max-width: 100%;
    width: 100%;
    float: none;
    margin-bottom: 50px; }
  .section-1 .container .story-container .headshot {
    max-width: 100%;
    width: 100%;
    float: none;
    position: relative;
    height: 500px; }
  .section-1 .container .skill-container .certification {
    width: 90%; }
    .section-1 .container .skill-container .certification .certification-circle {
      padding-bottom: calc(25% - 50px);
      width: calc(25% - 50px);
      float: left;
      margin-left: 40px; } }

@media (max-width: 768px) {
  .section-1 .container .story-container .headshot {
    height: 250px; }
  .section-1 .container .skill-container .certification {
    width: 80%; }
    .section-1 .container .skill-container .certification .certification-circle {
      padding-bottom: calc(50% - 45px);
      width: calc(50% - 45px);
      float: left;
      margin-left: 30px; }
      .section-1 .container .skill-container .certification .certification-circle:nth-of-type(1) {
        margin-bottom: 20px; }
      .section-1 .container .skill-container .certification .certification-circle:nth-of-type(2) {
        margin-bottom: 20px; } }

.section-2 {
  position: relative;
  padding: 50px;
  background-color: #F5F5F5;
  z-index: 998; }
  .section-2 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-2 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-2 .container .gallery-container {
      position: relative;
      width: 100%; }
      .section-2 .container .gallery-container::after {
        clear: both;
        content: "";
        display: block; }
      .section-2 .container .gallery-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-2 .container .gallery-container .card {
        position: relative;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        overflow: hidden; }
        .section-2 .container .gallery-container .card .img-card {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center center; }
          .section-2 .container .gallery-container .card .img-card a {
            position: absolute;
            width: 100%;
            height: 100%; }
    .section-2 .container .gallery-more {
      position: relative;
      width: 100%;
      margin-top: 15px;
      height: 40px; }
      .section-2 .container .gallery-more .material-icons {
        font-size: 40px;
        line-height: normal;
        color: #95989A;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .section-2 .container .gallery-more .material-icons:hover {
          color: #1E2529; }

@media (min-width: 1224px) {
  .section-2 .container .gallery-container .card {
    padding-bottom: calc(25% - 0.625em);
    margin-bottom: 0.5em;
    width: calc(25% - 0.625em);
    float: left;
    margin-left: 0.5em; } }

@media (max-width: 1224px) {
  .section-2 .container .gallery-container .card {
    padding-bottom: calc(50% - 0.75em);
    margin-bottom: 0.5em;
    width: calc(50% - 0.75em);
    float: left;
    margin-left: 0.5em; } }

@media (max-width: 768px) {
  .section-2 .container .gallery-container .card {
    padding-bottom: 100%;
    margin-bottom: 0.5em;
    width: calc(100% - 1em);
    float: left;
    margin-left: 0.5em; }
  .section-2 .container .gallery-container .card:nth-last-of-type(-n+2) {
    display: none; } }

.section-3 {
  position: relative;
  padding: 50px;
  background-color: white;
  z-index: 998; }
  .section-3 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-3 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-3 .container .partners-container {
      width: 100%;
      margin-bottom: 50px; }
      .section-3 .container .partners-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-3 .container .partners-container .partners-1, .section-3 .container .partners-container .partners-2, .section-3 .container .partners-container .partners-3 {
        position: relative;
        height: 150px;
        width: 150px;
        display: inline-block;
        cursor: pointer; }
        .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
          position: absolute;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
      .section-3 .container .partners-container .partners-1 {
        float: left;
        margin-left: 150px; }
        .section-3 .container .partners-container .partners-1 .partners-1-img {
          background-image: url(/assets/img/partners/Pandhys-Mini.jpg); }
      .section-3 .container .partners-container .partners-2 {
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
        transform: translate(-50%); }
        .section-3 .container .partners-container .partners-2 .partners-2-img {
          background-image: url(/assets/img/partners/PNEI_1.jpg); }
      .section-3 .container .partners-container .partners-3 {
        float: right;
        margin-right: 150px; }
        .section-3 .container .partners-container .partners-3 .partners-3-img {
          background-image: url(/assets/img/partners/Crystal-Nails.jpg); }
    .section-3 .container .pandhy-s-container .special-intro-container {
      position: relative;
      width: 100%;
      margin-bottom: 50px; }
      .section-3 .container .pandhy-s-container .special-intro-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-3 .container .pandhy-s-container .special-intro-container .special-intro-text {
        position: relative;
        max-width: 45%;
        float: left; }
      .section-3 .container .pandhy-s-container .special-intro-container .special-logo {
        position: absolute;
        width: 45%;
        height: 100%;
        right: 0;
        background-image: url(/assets/img/pandhy-s.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
    .section-3 .container .pnei-container .special-intro-container {
      position: relative;
      width: 100%;
      margin-bottom: 50px; }
      .section-3 .container .pnei-container .special-intro-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-3 .container .pnei-container .special-intro-container .special-intro-text {
        position: relative;
        max-width: 45%;
        float: left; }
      .section-3 .container .pnei-container .special-intro-container .special-logo {
        position: absolute;
        width: 45%;
        height: 100%;
        right: 0;
        background-image: url(/assets/img/pandhy-s.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
    .section-3 .container .crystal-nails-container .special-intro-container {
      position: relative;
      width: 100%;
      margin-bottom: 50px; }
      .section-3 .container .crystal-nails-container .special-intro-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-3 .container .crystal-nails-container .special-intro-container .special-intro-text {
        position: relative;
        max-width: 45%;
        float: left; }
      .section-3 .container .crystal-nails-container .special-intro-container .special-logo {
        position: absolute;
        width: 45%;
        height: 100%;
        right: 0;
        background-image: url(/assets/img/pandhy-s.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
    .section-3 .container .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0; }
      .section-3 .container .video-container .video-thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/img/pasta-di-zucchero.jpg), rgba(0, 13, 15, 0.3);
        background-blend-mode: multiply;
        background-size: cover;
        cursor: pointer; }
        .section-3 .container .video-container .video-thumb i {
          position: relative;
          color: white;
          font-size: 120px;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
      .section-3 .container .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }

@media (min-width: 1224px) {
  .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .section-3 .container .partners-container .partners-1 .partners-1-img:hover, .section-3 .container .partners-container .partners-1 .partners-2-img:hover, .section-3 .container .partners-container .partners-1 .partners-3-img:hover, .section-3 .container .partners-container .partners-2 .partners-1-img:hover, .section-3 .container .partners-container .partners-2 .partners-2-img:hover, .section-3 .container .partners-container .partners-2 .partners-3-img:hover, .section-3 .container .partners-container .partners-3 .partners-1-img:hover, .section-3 .container .partners-container .partners-3 .partners-2-img:hover, .section-3 .container .partners-container .partners-3 .partners-3-img:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  .section-3 .crystal-nails-container .special-intro-container .special-logo {
    background-size: cover !important; } }

@media (max-width: 1224px) {
  .section-3 .container .pandhy-s-container .special-intro-container .special-intro-text, .section-3 .container .pnei-container .special-intro-container .special-intro-text, .section-3 .container .crystal-nails-container .special-intro-container .special-intro-text {
    max-width: 100%; }
  .section-3 .container .pandhy-s-container .special-intro-container .special-logo, .section-3 .container .pnei-container .special-intro-container .special-logo, .section-3 .container .crystal-nails-container .special-intro-container .special-logo {
    position: relative;
    width: 100%;
    height: 12em;
    float: left; }
  .section-3 .container .pnei-container .special-intro-container .special-logo {
    margin-top: 20px; } }

@media (max-width: 1024px) {
  .section-3 .container .pasta-di-zucchero-container .pasta-di-zucchero {
    max-width: 100%;
    width: 100%;
    float: none;
    margin-bottom: 50px; }
  .section-3 .container .pasta-di-zucchero-container .pandhy-s-logo {
    max-width: 100%;
    width: 100%;
    float: none;
    position: relative;
    height: 200px; }
  .section-3 .container .partners-container .partners-1 {
    margin-left: 50px; }
  .section-3 .container .partners-container .partners-3 {
    margin-right: 50px; } }

@media (max-width: 768px) {
  .section-3 .container .partners-container .partners-1, .section-3 .container .partners-container .partners-2, .section-3 .container .partners-container .partners-3 {
    height: 135px;
    width: 135px; }
    .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
      position: absolute;
      height: 135px;
      width: 135px; }
  .section-3 .container .partners-container .partners-1 {
    margin-left: 0;
    left: 0; }
  .section-3 .container .partners-container .partners-3 {
    margin-right: 0; } }

@media (max-width: 500px) {
  .section-3 .container .partners-container .partners-1, .section-3 .container .partners-container .partners-2, .section-3 .container .partners-container .partners-3 {
    height: 110px;
    width: 110px; }
    .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
      position: absolute;
      height: 110px;
      width: 110px; } }

@media (max-width: 400px) {
  .section-3 .container .partners-container .partners-1, .section-3 .container .partners-container .partners-2, .section-3 .container .partners-container .partners-3 {
    height: 90px;
    width: 90px; }
    .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
      position: absolute;
      height: 90px;
      width: 90px; } }

@media (max-width: 321px) {
  .section-3 .container .partners-container .partners-1, .section-3 .container .partners-container .partners-2, .section-3 .container .partners-container .partners-3 {
    height: 75px;
    width: 75px; }
    .section-3 .container .partners-container .partners-1 .partners-1-img, .section-3 .container .partners-container .partners-1 .partners-2-img, .section-3 .container .partners-container .partners-1 .partners-3-img, .section-3 .container .partners-container .partners-2 .partners-1-img, .section-3 .container .partners-container .partners-2 .partners-2-img, .section-3 .container .partners-container .partners-2 .partners-3-img, .section-3 .container .partners-container .partners-3 .partners-1-img, .section-3 .container .partners-container .partners-3 .partners-2-img, .section-3 .container .partners-container .partners-3 .partners-3-img {
      position: absolute;
      height: 75px;
      width: 75px; } }

.section-4 {
  position: relative;
  padding: 50px;
  background-color: #F5F5F5;
  z-index: 998; }
  .section-4 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-4 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-4 .container .testimonials-container {
      position: relative;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      margin-bottom: 50px; }
      .section-4 .container .testimonials-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-4 .container .testimonials-container .client_profile_thumb {
        position: relative;
        width: 185px;
        height: 185px;
        float: left;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
      .section-4 .container .testimonials-container .testimonials {
        position: absolute;
        max-width: 75%;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .section-4 .container .testimonials-container .testimonials .client_profile_name {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 35px;
          margin-bottom: 5px; }
        .section-4 .container .testimonials-container .testimonials .client_profile_review {
          margin-top: 0; }
    .section-4 .container .testimonials-slider ul li .prova {
      background-color: red;
      width: 100%;
      height: 350px; }
    .section-4 .container .new-review {
      text-align: center;
      margin-top: 60px; }
      .section-4 .container .new-review a {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
        .section-4 .container .new-review a:hover {
          color: white !important; }
        .section-4 .container .new-review a span {
          font-size: 22px;
          -webkit-font-smoothing: antialiased;
          border: solid #65AAFE 2px;
          padding: 15px;
          border-radius: 30px;
          cursor: pointer; }
          .section-4 .container .new-review a span:hover {
            background-color: #65AAFE; }

@media (max-width: 1224px) {
  .section-4 {
    display: none; } }

.section-5 {
  position: relative;
  padding: 50px;
  background-color: white;
  z-index: 998; }
  .section-5 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-5 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-5 .container .story-container {
      position: relative;
      width: 100%;
      margin-bottom: 50px; }
      .section-5 .container .story-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-5 .container .story-container .story {
        position: relative;
        max-width: 45%;
        float: left; }
    .section-5 .container .accordion-container {
      position: relative;
      width: 45%;
      height: 100%;
      float: right;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

/*----- Accordion -----*/
.accordion {
  overflow: hidden;
  border-radius: 3px; }

/*----- Section Titles -----*/
.accordion-section-title {
  width: 100%;
  padding: 15px;
  display: inline-block;
  transition: all linear 0.15s;
  /* Type */
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1E2529;
  text-decoration: none; }
  .accordion-section-title .expand-more {
    position: absolute;
    font-size: 35px;
    right: 20px;
    line-height: 25px;
    opacity: 0.6; }
  .accordion-section-title .expand-less {
    position: absolute;
    font-size: 35px;
    right: 20px;
    line-height: 25px;
    display: none; }

.accordion-section {
  background-color: white; }
  .accordion-section:nth-child(2n+1) {
    background-color: #F5F5F5; }

.accordion-section-title.active, .accordion-section-title:hover {
  /* Type */
  text-decoration: none; }

.accordion-section:last-child .accordion-section-title {
  border-bottom: none; }

/*----- Section Content -----*/
.accordion-section-content {
  padding: 0 15px;
  display: none; }
  .accordion-section-content::after {
    clear: both;
    content: "";
    display: table; }
  .accordion-section-content ul {
    list-style: none;
    margin-right: 50px;
    display: inline-block;
    margin-right: 0;
    float: left; }
    .accordion-section-content ul li {
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
      color: #1E2529;
      margin: 15px 0; }
    .accordion-section-content ul .sub-section-title {
      list-style: none; }

@media (min-width: 1224px) {
  .accordion-section-title:hover .expand-more {
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); } }

@media (max-width: 1224px) and (min-width: 1024px) {
  .section-5 .container .accordion-container {
    width: 50%; } }

@media (max-width: 1024px) {
  .section-5 .container .story-container {
    margin-bottom: 0; }
    .section-5 .container .story-container .story {
      width: 100%;
      max-width: 100%;
      float: none;
      margin-bottom: 50px; }
    .section-5 .container .story-container .accordion-container {
      width: 100%;
      float: none; } }

@media (max-width: 490px) {
  .accordion-section-title {
    max-width: 75%; } }

.section-6 {
  position: relative;
  padding: 50px;
  background-color: #F5F5F5;
  z-index: 998; }
  .section-6 .container {
    position: relative;
    width: 100%;
    max-width: 1200px; }
    .section-6 .container .title-container {
      width: 100%;
      text-align: center;
      margin-bottom: 50px; }
    .section-6 .container .info-container {
      position: relative;
      width: 100%; }
      .section-6 .container .info-container::after {
        clear: both;
        content: "";
        display: table; }
      .section-6 .container .info-container .info {
        max-width: 45%;
        float: left;
        margin-bottom: 50px; }
        .section-6 .container .info-container .info .info-specific {
          position: relative;
          height: 53px;
          margin: 35px 0;
          margin-bottom: 0; }
          .section-6 .container .info-container .info .info-specific a {
            color: #1E2529; }
            .section-6 .container .info-container .info .info-specific a .material-icons {
              font-size: 35px;
              line-height: 0; }
            .section-6 .container .info-container .info .info-specific a .info-text {
              color: inherit;
              height: 100%;
              margin: 0;
              display: inline-block;
              vertical-align: middle; }
          .section-6 .container .info-container .info .info-specific:nth-of-type(2n+1) {
            margin-top: 0;
            margin-bottom: 20px; }
          .section-6 .container .info-container .info .info-specific:last-of-type {
            margin-top: 20px; }
        .section-6 .container .info-container .info #social-icons {
          text-align: left; }
          .section-6 .container .info-container .info #social-icons .fa {
            font-size: 40px;
            margin: 0 35px 0 0; }
      .section-6 .container .info-container .opening-time {
        position: relative;
        max-width: 45%;
        float: right; }
      .section-6 .container .info-container .maps {
        position: relative;
        width: 100%;
        float: left; }
        .section-6 .container .info-container .maps .maps-container {
          position: relative;
          padding-bottom: 56.25%;
          width: 64%;
          height: 0;
          margin-top: 30px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          float: left; }
          .section-6 .container .info-container .maps .maps-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none; }
        .section-6 .container .info-container .maps .place-photo {
          background-image: url(/assets/img/cedro-gropello-insegna.jpeg);
          background-size: cover;
          width: 32%;
          height: 0;
          padding-bottom: 56.25%;
          position: relative;
          float: right;
          margin-top: 30px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.maps-clicked {
  pointer-events: auto !important; }

#times-table {
  display: table;
  margin-top: 25px;
  max-width: 600px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  #times-table .table-head {
    display: table-row; }
    #times-table .table-head p {
      display: table-cell;
      text-align: center;
      width: 200px;
      padding: 5px; }
  #times-table .table-content {
    display: table-row; }
    #times-table .table-content p {
      display: table-cell;
      color: #1E2529;
      text-align: center;
      width: 200px;
      padding: 5px; }
    #times-table .table-content:nth-child(2n) {
      background-color: #F5F5F5; }

@media (max-width: 1224px) and (min-width: 1024px) {
  .section-6 .container .info-container .opening-time {
    max-width: 50%; } }

@media (max-width: 1024px) {
  .section-6 .container .info-container .info {
    max-width: 100%;
    float: none;
    width: 100%; }
    .section-6 .container .info-container .info #social-icons {
      margin-bottom: 50px; }
  .section-6 .container .info-container .opening-time {
    max-width: 100%;
    float: none;
    width: 100%;
    margin-bottom: 50px; }
    .section-6 .container .info-container .opening-time #times-table {
      max-width: 100%;
      width: 100%; }
  .section-6 .container .info-container .maps .maps-container {
    width: 100%; }
  .section-6 .container .info-container .maps .place-photo {
    background-image: url(/assets/img/cedro-gropello-insegna.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 400px; } }

@media (max-width: 450px) {
  .section-6 .container .info-container .opening-time {
    max-width: 100%;
    float: none;
    width: 100%;
    margin-bottom: 50px; }
    .section-6 .container .info-container .opening-time #times-table {
      max-width: 100%;
      width: 100%; }
      .section-6 .container .info-container .opening-time #times-table p {
        font-size: 16px; }
  .section-6 .container .info-container .maps .maps-container {
    width: 100%; }
  .section-6 .container .info-container .maps .place-photo {
    background-image: url(/assets/img/cedro-gropello-insegna.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 250px; } }

@media (max-width: 400px) {
  .section-6 .container .info-container .info .info-specific .info-text {
    max-width: 75%; }
  .section-6 .container .info-container .opening-time {
    max-width: 100%;
    float: none;
    width: 100%;
    margin-bottom: 50px; }
    .section-6 .container .info-container .opening-time #times-table {
      max-width: 100%;
      width: 100%; }
      .section-6 .container .info-container .opening-time #times-table p {
        font-size: 13px; } }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 998; }
  .footer .footer-small {
    position: relative;
    height: 70px;
    padding: 0 50px;
    background-color: #2A353B; }
    .footer .footer-small .footer-small-container {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-columns: 3;
      -moz-columns: 3;
      columns: 3; }
      .footer .footer-small .footer-small-container p {
        position: relative;
        margin: 0;
        color: white; }
      .footer .footer-small .footer-small-container .author {
        text-align: center; }
        .footer .footer-small .footer-small-container .author .material-icons {
          line-height: 0;
          vertical-align: sub;
          color: #FF6B6B; }
        .footer .footer-small .footer-small-container .author a {
          color: white; }
      .footer .footer-small .footer-small-container .info-text {
        position: relative;
        text-align: right;
        overflow: auto; }
        .footer .footer-small .footer-small-container .info-text a {
          color: white; }
          .footer .footer-small .footer-small-container .info-text a .material-icons {
            font-size: 24px;
            vertical-align: sub;
            margin-right: 8px; }

@media (max-width: 1224px) {
  .footer .footer-small {
    height: 150px;
    padding: 25px 0; }
    .footer .footer-small .footer-small-container {
      height: 100%;
      -webkit-columns: 1;
      -moz-columns: 1;
      columns: 1; }
      .footer .footer-small .footer-small-container p {
        text-align: center;
        margin: auto;
        width: 100%; }
      .footer .footer-small .footer-small-container .author {
        position: absolute;
        right: 50%;
        top: 50%;
        -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
        transform: translate(50%, -50%); }
      .footer .footer-small .footer-small-container .info-text {
        text-align: center;
        bottom: 0;
        position: absolute;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); } }

@media (max-width: 640px) {
  .footer .footer-small {
    height: 100px; }
    .footer .footer-small .footer-small-container p {
      font-size: 17px; }
      .footer .footer-small .footer-small-container p i {
        font-size: 20px !important; } }

@media (max-width: 321px) {
  .footer .footer-small .footer-small-container p {
    font-size: 12px; }
    .footer .footer-small .footer-small-container p i {
      font-size: 18px !important; } }

.slideshow-full {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center; }
  .slideshow-full .overlay-full {
    width: 100%;
    height: 100%;
    opacity: 0.3; }
  .slideshow-full .logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    .slideshow-full .logo-container .logo-full {
      width: 500px;
      height: 500px;
      background-image: url(/assets/img/cedro-gropello-logo-home.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center; }
    .slideshow-full .logo-container .title-full {
      color: white;
      position: relative;
      font-size: 6em;
      margin-top: 20px;
      font-family: 'Montserrat', roboto, sans-serif; }
    .slideshow-full .logo-container .subtitle-full {
      color: white;
      position: relative;
      font-size: 3em;
      margin-top: 10px;
      font-family: 'Montserrat', roboto, sans-serif; }

@media (min-width: 1224px) {
  .slideshow-full {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    z-index: 995; }
    .slideshow-full .slide-down-btn {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%) !important;
      -ms-transform: translateX(-50%) !important;
      transform: translateX(-50%) !important;
      bottom: 10px;
      cursor: pointer; }
  @-webkit-keyframes btn-bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); } }
  @keyframes btn-bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); } }
      .slideshow-full .slide-down-btn i {
        color: #1E2529;
        font-size: 70px;
        -webkit-animation: btn-bounce 2s linear infinite;
        animation: btn-bounce 2s linear infinite; } }

@media (max-width: 1224px) {
  .slideshow-full {
    display: none; } }

.navbar {
  position: absolute;
  width: 100%;
  height: 75px; }
  .navbar .container {
    position: relative;
    width: 100%;
    height: 100%; }
    .navbar .container .logo {
      position: absolute;
      left: 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%; }
      .navbar .container .logo a {
        position: relative;
        text-decoration: none;
        color: #1E2529;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        -webkit-font-smoothing: antialiased;
        padding: 40px 0; }
    .navbar .container .menu {
      position: absolute;
      width: 70%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .navbar .container .menu ul {
        margin: 0;
        padding: 0; }
        .navbar .container .menu ul li {
          list-style: none;
          display: inline-block;
          margin: 0 25px; }
          .navbar .container .menu ul li .link-menu {
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            -webkit-font-smoothing: antialiased;
            color: #1E2529;
            text-decoration: none;
            padding: 40px 0; }
    .navbar .container .phone-nav {
      position: absolute;
      height: 40px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 50px; }
      .navbar .container .phone-nav i {
        color: #1E2529;
        font-size: 40px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

@media (min-width: 1224px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 996; }
    .navbar .container .menu {
      display: block !important; }
      .navbar .container .menu ul {
        text-align: center; }
    .navbar .container .btn-menu {
      display: none; } }

@media (max-width: 1224px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    height: 55px; }
    .navbar .container {
      background-color: #1E2529; }
      .navbar .container .btn-menu {
        position: absolute;
        height: 30px;
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer; }
        .navbar .container .btn-menu i {
          color: white;
          font-size: 30px; }
      .navbar .container .logo {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        top: 50%; }
        .navbar .container .logo a {
          color: white; }
          .navbar .container .logo a:hover {
            color: white !important; }
      .navbar .container .menu {
        position: absolute;
        width: 100%;
        top: 55px;
        left: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        background-color: white;
        display: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
        .navbar .container .menu ul {
          margin: 0;
          padding: 15px; }
          .navbar .container .menu ul li {
            list-style: none;
            display: block;
            margin: 15px 0;
            text-align: center; }
            .navbar .container .menu ul li .link-menu {
              font-family: 'Roboto', sans-serif;
              font-size: 25px;
              -webkit-font-smoothing: antialiased;
              color: #1E2529;
              text-decoration: none;
              padding: 0; }
      .navbar .container .phone-nav {
        height: 30px;
        right: 20px; }
        .navbar .container .phone-nav i {
          font-size: 30px;
          color: white; } }

.products {
  position: relative;
  width: 100%; }
  .products::after {
    clear: both;
    content: "";
    display: block; }
  .products::after {
    clear: both;
    content: "";
    display: table; }
  .products .card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .products .card:hover .overlay {
      opacity: 0.4; }
    .products .card:hover .img-card {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3); }
    .products .card:hover .title {
      opacity: 1; }
    .products .card:hover .quantity {
      opacity: 1; }
    .products .card .img-card {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      transition: all .5s ease-in-out; }
    .products .card .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #1E2529;
      opacity: 0;
      transition: all .5s ease-in-out; }
    .products .card .title {
      position: absolute;
      margin: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: white;
      font-size: 35px;
      line-height: 1;
      text-align: center;
      transition: all .5s ease-in-out;
      opacity: 0; }
    .products .card .quantity {
      position: absolute;
      left: 50%;
      bottom: 15px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      color: white;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      -webkit-font-smoothing: antialiased;
      transition: all .5s ease-in-out;
      opacity: 0; }

.products-more {
  position: relative;
  width: 100%;
  margin-top: 15px;
  height: 40px; }
  .products-more .material-icons {
    font-size: 40px;
    line-height: normal;
    color: #95989A;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .products-more .material-icons:hover {
      color: #1E2529; }

@media (min-width: 1224px) {
  .products .card {
    padding-bottom: calc(25% - 0.625em);
    margin-bottom: 0.5em;
    width: calc(25% - 0.625em);
    float: left;
    margin-left: 0.5em; } }

@media (max-width: 1224px) {
  .products .card {
    padding-bottom: calc(50% - 0.75em);
    margin-bottom: 0.5em;
    width: calc(50% - 0.75em);
    float: left;
    margin-left: 0.5em; }
  .img-card {
    transition: none; }
  .card:hover .img-card {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; } }

@media (max-width: 768px) {
  .products .card {
    padding-bottom: 100%;
    margin-bottom: 0.5em;
    width: calc(100% - 1em);
    float: left;
    margin-left: 0.5em; } }
