<div class="section-4">
  <div class="container center">

    <div class="title-container">
      <h1>Clienti soddisfatti</h1>
      <div class="underline center"></div>
    </div>

    <div class="testimonials-slider">
      <ul>
        {% for testimonial in site.data.clients.testimonials limit: 5 %}
        <li>
          <div class="testimonials-container">

            <div class="client_profile_thumb" style="background-image: url( {{ testimonial.avatar }} )"></div>

            <div class="testimonials">
              <h3 class="client_profile_name">{{ testimonial.name }}</h3>
              <p class="client_profile_review">{{ testimonial.quote }}</p>
            </div>

          </div>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="new-review">
      <a target="_blank" href="https://www.google.it/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=cedro+gropello&*&lrd=0x47871f569e5d1e89:0x874d7ce6255fe7d1,3,"><span>Lascia un commento!</span></a>
    </div>

  </div>
</div>
