<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="public">
  <meta name="author" content="Tommaso Negri">
  <meta name="copyright" content="&copy; 2017 Il Cedro">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/1-tools/lightbox.min.css">
  <link rel="stylesheet" href="assets/css/1-tools/unslider.css">
  <link rel="stylesheet" href="assets/css/1-tools/unslider-dots.css">
  <title>Il Cedro</title>
  <meta name="description" content="Al Cedro vi aspetta un'esperienza da sogno, scoprite il centro e i nostri prodotti. Offriamo servizi dai più classici a innovativi trattamenti di cura e bellezza con prodotti naturali. Bellezza, benessere e relax per tutti...">
  <meta name="keywords" content="centro estetico, bellezza, depilazione, massaggi, pnei, pandhy, pasta di zucchero, il cedro, gropello cairoli, gropello, unghie, spa ">
  <meta name="robots" content="index, follow">
</head>
<body>
  <script src="https://use.fontawesome.com/24f3f62327.js" async></script>

{{content}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" async></script>
  <script src="assets/js/lightbox.min.js" charset="utf-8" async></script>
  <script src="assets/js/unslider.js" async></script>
  <script type="text/javascript" src="/assets/js/function.js" async></script>
  <script async>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92581614-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
