<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="private">
  <meta name="author" content="Tommaso Negri">
  <meta name="copyright" content="&copy; 2017 Il Cedro">
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/1-tools/lightbox.min.css">
  <link rel="stylesheet" href="assets/css/1-tools/unslider.css">
  <link rel="stylesheet" href="assets/css/1-tools/unslider-dots.css">
  <title>Il Cedro</title>
</head>
<body>

{{content}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/24f3f62327.js"></script>
  <script src="assets/js/lightbox.min.js" charset="utf-8"></script>
  <script src="assets/js/unslider.js"></script>
  <script type="text/javascript" src="/assets/js/function.js"></script>
</body>
</html>
